<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:c="http://java.sun.com/jstl/core" xmlns:fmt="http://java.sun.com/jstl/fmt" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>  server   </display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>   Login   </display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>  server.Login   </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>   /Login   </url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>   Logout   </display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>  server.Logout   </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>   /Logout   </url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>   Register   </display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>  server.Register   </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>   /Register  </url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>   FetchLocationCategory   </display-name>
    <servlet-name>FetchLocationCategory</servlet-name>
    <servlet-class>  server.FetchLocationCategory   </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchLocationCategory</servlet-name>
    <url-pattern>   /FetchLocationCategory  </url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>   FetchDetails   </display-name>
    <servlet-name>FetchDetails</servlet-name>
    <servlet-class>  server.FetchDetails   </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchDetails</servlet-name>
    <url-pattern>   /FetchDetails  </url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>   FetchPosts   </display-name>
    <servlet-name>FetchPosts</servlet-name>
    <servlet-class>  server.FetchPosts   </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchPosts</servlet-name>
    <url-pattern>   /FetchPosts  </url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>   AddEvent   </display-name>
    <servlet-name>AddEvent</servlet-name>
    <servlet-class>  server.AddEvent   </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvent</servlet-name>
    <url-pattern>   /AddEvent  </url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>   Details   </display-name>
    <servlet-name>Details</servlet-name>
    <servlet-class>  server.Details   </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>   /Details  </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEvent</display-name>
    <servlet-name>UpdateEvent</servlet-name>
    <servlet-class>server.UpdateEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEvent</servlet-name>
    <url-pattern>/UpdateEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllUser</display-name>
    <servlet-name>AllUser</servlet-name>
    <servlet-class>server.AllUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUser</servlet-name>
    <url-pattern>/AllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>server.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEvents</display-name>
    <servlet-name>GetEvents</servlet-name>
    <servlet-class>server.GetEvents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEvents</servlet-name>
    <url-pattern>/GetEvents</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>server.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/General/*</url-pattern>
    <url-pattern>/Secured/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PostsFilter</filter-name>
    <filter-class>server.PostsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PostsFilter</filter-name>
    <url-pattern>/Login.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>server.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/Secured/*</url-pattern>
  </filter-mapping>
</web-app>